.estate-comparison {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.estate-card {
  border: 1px solid $color-border;
  border-radius: 5px;
  padding: 0.5rem;
  line-height: 1.5rem;
  margin: 0 0.5rem;

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;

    &--green {
      background-color: $color-comparison-green;
    }

    &--red {
      background-color: $color-comparison-red;
    }
  }
  &__data {
    &--bold {
      font-weight: bold;
    }
  }

  &__company {
    display: flex;
    align-items: center;

    &__logo {
      height: 6rem;
      padding: 0.5rem 0;
      object-fit: contain;
    }

    &__name {
      margin-left: 0.5rem;
    }
  }
}
