$color-heading: #999;
$color-border: #dfdfdf;
$color-text: #000;
$color-selected: rgba(51, 146, 190, 0.5);
$color-comparison-green: #7eda7e;
$color-comparison-red: #f09090;

$font-family: Arial, Helvetica, sans-serif;
